__pycache__
POETRY-USAGE.md
try.py
drafts/
ig/
tests/draft.py
venv/
imagemesh_concept/
_old

# from model_files
#extra
model_files/more_models
#confidential 
model_files/confidential

#docs make latexpdf
docs/build
usage.py

#files
*.obj
*.mtl
*.mp4
#except
!model_files/simple_cube.obj
!model_files/sphere.obj

file.txt

sample_strucs.py

#showfileshere
ShowFilesHere*
show.txt
