__pycache__
setup.py
POETRY-USAGE.md
protocol.txt
try.py
tests/draft.py
draft.py
venv/
*.egg-info/
imgui.ini
extra/amorph*
imagemesh_concept/
__old__

#files created during tests
block_a
random-array
*.obj
myModel.json
