__pycache__
setup.py
POETRY-USAGE.md
protocol.txt
try.py
tests/draft.py
draft.py
venv/
*.egg-info/
imgui.ini
extra/amorph*
imagemesh_concept/
__old__
_old

#files created during tests
block_a
random-array
myModel.json

*.obj
#except
!model_files/simple_cube.obj
!model_files/sphere.obj

#confidential model(s)
chibi.txt
icon_lock.py

file.txt
mars.png

#docs make latexpdf
docs/build
usage.py


#extra
model_files/more_models
voxelize.py
voxelwrite_imesh_tests.py
RW3D*
terraformed
terraform.py